@{
    ViewBag.Title = "About";
}

<h2>About StockTikr</h2>
<p>
    StockTikr is a small project designed to illustrate a few web technologies. Specifically:    
</p>
<ul>
    <li>ASP.NET MVC/API</li>
    <li>KnockoutJS</li>
    <li>HTML5 Local Storage</li>
    <li>Responsive web design using Bootstrap</li>
    <li>Asynchronous Updates and AutoComplete using jQuery</li>
</ul>
<h3>To Use</h3>
<p>Just begin typing a company name or symbol in the text input box and select an available company from the autocomplete dropdown. This will automatically add the Stock to the stock table, and prices will be begin to update automatically. Also, selected stocks will be persisted to localStorage so that they are still available even after the browser is closed.</p>
